body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: sans-serif;
}

.header,
.first {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .container {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header ul {
    color: #E5E7EB;
    list-style-type: none;
    display: flex;
    gap: 12px;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first .container {
    display: flex;
    width: 1000px;
    height: 200px;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0px;
}

.first .content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.first .content .title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    width: 410px;
}

.first .pharagraph {
    width: 410px;
    color: #F9FAF8;
}

.first .button {
    background-color: #3882F6;
    color: #F9FAF8;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.first .image {
    background-color: gray;
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}

.second .title {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.square {
    width: 300px;
    height: 300px;
    border: medium solid #3882F6;
}

.third {
    background-color: #E5E7EB;
}

.fourth .content {
    background-color: #3882F6;
}

.fourth .button {
    color: white;
    border: medium solid white;
}

.footer {
    color: white;
    background-color: #1F2937;
}