body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: sans-serif;
}

.header,
.first {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .container {
    display: flex;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header ul {
    color: #E5E7EB;
    list-style-type: none;
    display: flex;
    gap: 12px;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
}

.first .container {
    display: flex;
    width: 1000px;
    height: 200px;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0px;
}

.first .content {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.first .content .title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    width: 410px;
}

.first .pharagraph {
    width: 410px;
    color: #F9FAF8;
}

.first .button {
    background-color: #3882F6;
    color: #F9FAF8;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.first .image {
    background-color: gray;
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}

.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    justify-content: center;
    gap: 48px;
}

.second .title {
    font-size: 36px;
    font-weight: 600;
    color: #1F2937;
}

.second .content {
    display: flex;
    gap: 60px;
}

.second .one,
.second .two,
.second .three,
.second .four {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.second .square {
    width: 150px;
    height: 150px;
    border: medium solid #3882F6;
    border-radius: 15px;
}

.third {
    background-color: #E5E7EB;
    height: 400px;
    display: flex;
    justify-content: center;
}

.third .container {
    width: 760px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.third .quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.third .author {
    align-self: flex-end;
    font-weight: bolder;
    font-size: larger;
}

.fourth {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth .container {
    height: 150px;
    width: 800px;
    display: flex;
    background-color: #3882F6;
    align-items: center;
    justify-content: center;
    gap: 100px;
    border-radius: 15px;
}

.fourth .content {
    background-color: #3882F6;
    color: white;
}

.fourth .title {
    font-weight: bold;
    font-size: larger;
}

.fourth .signup {
    color: rgb(216, 216, 216);
}

.fourth .button {
    color: white;
    border: thin solid white;
    background-color: #3882F6;
    height: 35px;
    width: 130px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    color: white;
    background-color: #1F2937;
    height: 100px;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}